[Unit]
Description=Sous-vide flask app
After=postgresql.service

[Service]
ExecStartPre=/bin/mkdir -p /run/www-data ; /bin/chown www-data: /run/www-data
ExecStart=/usr/bin/gunicorn3 --bind unix:/run/www-data/sousvide-flask.sock flask_app:app
WorkingDirectory=/usr/local/sousvide/daemons
User=www-data
Group=www-data
PermissionsStartOnly=true
Restart=no

[Install]
WantedBy=multi-user.target
