[Unit]
Description=Sous-vide temperature reading daemon
After=postgresql.service

[Service]
ExecStart=/usr/local/sousvide/daemons/temperature_reading_daemon.py
User=sousvide
Group=sousvide
Restart=no

[Install]
WantedBy=multi-user.target
