body {
    background: black;

#traffic-lights {
    margin: 0.5em 0;
}

.traffic-light {
    color: black;
    border-radius: 0.3em;
    padding: 0.1em 1em;
    margin: 0.1em;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}

#traffic-light-system-failure { background: #f00; }
#traffic-light-sleeping       { background: #fe0; }
#traffic-light-cooking        { background: #5a3; }

.traffic-light.inactive {
    opacity: 0.1;
}
